<div class="list-window">
  <% if (eventsSub) { %>
    <div class="tabs">
      <p class="tab-link" id="all-events">Todos os eventos</p>
      <p class="tab-link" id="sub-events">Eventos inscritos</p>
    </div>
    <div class="tab-content" id="all-evt-content">
      <%- include('events') %>
    </div>
    <div class="tab-content hidden" id="sub-evt-content">
      <% if (eventsSub.length > 0) { %>
        <%- include('sub-events') %>
      <% } else { %>
        <p class="no-events">Você não está incrito em nenhum evento!</p>
      <% } %>
    </div>
  <% } else { %>
    <div class="tab-content">
      <%- include('events') %>
    </div>
  <% } %>
</div>