<div class="search underlay">
  <form action="/search" method="post">
    <input type="search" name="text" id="search-bar" placeholder="Procurar evento">
    <button id="search-btn" title="Buscar evento">
      <ion-icon name="search"></ion-icon>
    </button>
  </form>
</div>