<div class="search">
  <form action="/search" method="post">
    <input type="search" name="text" id="search-bar" class="underlay" placeholder="Procurar evento">
    <button id="search-btn" class="btn" title="Buscar evento">
      <ion-icon name="search"></ion-icon>
    </button>
  </form>
</div>